<div class="row">
  <div class="col-12">
    <h2>{{selectedRecipe.recipeName}}</h2>
    
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" 
              type="button" 
              class="btn btn-primary dropdown-toggle" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              [dropdownList]="dropdownList"
              appToggleDropdown
            >Manage Recipe</button>

      <div #dropdownList class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="javascript:void(0)" (click)="onRecipeAddToShoppingList()">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>
      </div>
    </div>

    <div>{{selectedRecipe.recipeDescription}}</div>
    
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.recipeIngredients">{{ ingredient.name }}({{ ingredient.amount }})</li>
    </ul>
  </div>
</div>