<div class="row">
    <div class="col-12">
        <form #shoppingListForm="ngForm" (ngSubmit)="onFormSubmit(nameInput)">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="recipeItemName">Name</label>
                        <input type="text"
                            class="form-control"
                            id="recipeItemName"
                            placeholder="Recipe Item Name"
                            #nameInput
                            ngModel
                            #recipeItemName="ngModel"
                            name="recipeItemName"
                            required>
                        
                        <div class="alert-message" *ngIf="recipeItemName.touched && recipeItemName.errors.required">This field is required.</div>
                    </div>
                </div>
                
                <div class="col-6">
                    <div class="form-group">
                        <label for="recipeItemAmount">Amount</label>
                        <input type="number"
                            class="form-control"
                            id="recipeItemAmount" 
                            placeholder="Recipe Item Amount"
                            #amountInput
                            ngModel
                            #recipeItemAmount="ngModel"
                            name="recipeItemAmount"
                            required
                            pattern="^[1-9]+[0-9]*$">

                            <div class="alert-message" *ngIf="recipeItemAmount.touched && recipeItemAmount.errors.required">This field is required.</div>
                            <div class="alert-message" *ngIf="recipeItemAmount.touched && recipeItemAmount.errors.pattern">The value is invalid.</div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12" [ngSwitch]="editMode">
                    <button type="button" class="btn btn-success" *ngSwitchCase="true" (click)="onIngredientUpdate()">Update</button>
                    <button type="submit" class="btn btn-success" *ngSwitchCase="false">Add</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>