<div class="row">
  <div class="col-6">
      <button class="btn btn-success new-recipe-btn">New Recipe</button>
      <hr>
      <app-recipe-list [theRecipesList]="recipesList" (recipeWasSelected)="onRecipeSelected($event)"></app-recipe-list>
  </div>

  <div class="col-6">
      <!-- <app-recipe-detail *ngIf="selectedRecipe; else recipeDetailDefaultMessage"></app-recipe-detail>

      <ng-template #recipeDetailDefaultMessage>
        <h5>Select a recipe to show information.</h5>
      </ng-template> -->

      <router-outlet></router-outlet>
  </div>
</div>