.dropdown-menu {
    left: initial;
    right: 0;
}
.collapse {
    display: block;
    height: 0;
}
.navbar-toggler:focus {
    outline: 0;
}
.nav-link {
    user-select: none;
}

@media (min-width: 992px) {
    .collapse {
        height: initial;
    }
    .navbar-collapse {
        height: auto !important;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        overflow: hidden;
    }
}